*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(189, 186, 186);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container,
.userCard,
.photoFollowers,
.socials{
    display:flex;

}
.container{
    height: 100vh;
    justify-content:center;
    align-items: center;
    background-color: rgb(114, 10, 100);
    flex-wrap: wrap;
}

.userCard{
    width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}

.userPhoto {
    display:flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    margin-top: -75px;
  
}

.userPhoto img{
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.userInfo{
    width: 80%;
    text-align: center;
    padding:10px 0;
}

.userInfo h1{
    margin: 15px 0;
}

.userInfo p:last-child::before{
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    content: " ";
    background-image: url(./images/location_icon-icons.com_50109.png);
    background-size: contain;
  height: 10px;
  width: 10px;
}

.photoFollowers{
   width: 80%;
   margin: auto;
   justify-content: space-around;
}

.socials{
    margin-top: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
 }
.socials img{
    padding: 10px;
 }

 .followers{
    text-align: center;
    border-top: 1px solid rgb(233, 231, 231);
    width:80%;
 }

 .followers h2{
    padding: 10px;
}

.socials img:nth-child(even){
   border-left: 2px solid grey;
   border-right: 2px solid grey;
   padding: 10px;
}

.photoFollowers img{
    width: 15%;
    border-radius: 50%;
    
}